.content-proposition {

  &__information {
    margin: 35px 0 0;
    text-align: center;
    color: #54595d;
  }

  &__img-box {
    vertical-align: middle;
    display: inline-block;

    img {
      vertical-align: middle;
      display: inline-block;
    }
  }

}