.app-bar {
 
  &__logo-box {
    display: table-row;
  }

  &__title {
    display: table-cell;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Open Sans',Sans-serif;
    color: #457;
}

  &__brand-logo {
    position: relative;
    top: 8px;
    width: 65%
  }

}

.panel-container {
  min-height: 420px;
}
